@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Blog App!</h1>
    <div class="homeNav">
    <p>You can write a blog about whatever you want! If no category exists for you, create one <a id="homeCategoryLink" href="~/Category/Create">here</a>.</p>
    <p>To start writing blogs, click <a id="homePostLink" href="~/Post/Create">here</a> or click "Posts" at the top. (Check categories to make sure one exists for your blog!)</p
</div>
</div>

